DATABASE_URL=postgresql+psycopg2://username:password@host:5432/database
CORS_ORIGINS=http://localhost:3000,http://localhost:8000
APP_ENV=development
HCP_PROFILE_TABLE_NAME=hcp_profile
MODEL_OUTPUT_TABLE_NAME=model_output
